
.mainWrap {
  min-width: 600px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 10px;
}

.leftWrap {
  text-align: left;
}

.rightWrap {
  text-align: right;
}

.cnWrap {
  margin-top: 20px;
}

.enWrap {
  margin-top: 5px;
}

.verWrap {
  margin-top: 20px;
}

.verWrap,
.loveWrap {
  color: #ccc;
}

.icpWrap {
  margin-top: 20px;
  a {
    color: #778087;
    &:hover {
      color: #4d5256;
    }
  }
}
